.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f6f2f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Icon {
  position: relative;
  top: 100px; left: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

.margin-bottom {
  margin-bottom : 20px;
}

.margin-top{
  margin-top: 20px;
}

.input-field{
  display: block;
  margin: 10px 0;
  width: 100%;
}


/* login.css - Make sure this follows the same pattern as your signup page styles */

.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #141313;
  border-radius: 5px;
  text-align: center; /* Centering the text if it's not already centered */
  align-items: center;
}

.login-label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button, .signup-button { /* Combined style for both login and signup buttons */
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block; /* Make the buttons block to fill width */
  margin: 10px auto; /* Center buttons horizontally */
}

.login-button:hover, .signup-button:hover { /* Hover effect for both */
  background-color: #45a049;
}

.login-message { /* If you have any messages to display, style them here */
  margin-top: 10px;
  text-align: center;
}

/* You can add success and error classes if you have messages that use them */
