/* Dashboard.css */
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard-welcome {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.dashboard-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.dashboard-button:hover {
  background-color: #45a049;
}

.dashboard-table {
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-table th,
.dashboard-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
.dashboard-table-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-table-row:hover {
  background-color: #ddd; /* Lighter shade for hover effect */
}
.dashboard-table th {
  background-color: #4caf50;
  color: white;
}

.dashboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .menu {
  display: block;
}

.menu > li > button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu > li > button:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}
